
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Telugu Sangam MN";

}
#container{
    height: 100vh;
    background-color: darkslategrey;
    background-position: center;
    background-size:cover;
    padding: 10px 10%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;


}
.logo{
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    font-family: "Arizona-Regular.ttf", cursive;


}

.menu{
    display: flex;
    list-style : -webkit-image-set();
}
.menu li{
    margin: 0 15px;
    background-size: 1.6rem 1.6rem;

}

.menu li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;

}
















